* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body, html {
	width:100%;
/*	overflow-x: hidden; под вопросом оставлять или нет?*/
}

/*-----------------------ГЛАВНАЯ СТРАНИЦА-------------------------------*/



main {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin:0 auto;
}

.main_menu {
	width: 100%;
	margin:0 auto;
	height:100px;
	border:5px solid red;
	font-size: 40px;
	text-align: center;

}

/*--------------------------Блок 1 -------------------------------------*/

.hellow {
	width: 100%
	max-width:1920px;
	height: 1080px;
	border:5px solid black;
	font-size: 60px;
	text-align: center;
	display: flex;
	align-items: center;
}

.hellow_inner {

}

/*--------------------------Блок 2 -------------------------------------*/

.presentation {
	width: 100%
	max-width:1920px;
	height: 1080px;
	border:5px solid blue;
	font-size: 60px;
	text-align: center;
	display: flex;
	align-items: center;
}

.presentation_furniture {

}

.presentation_plumbing {

}

/*--------------------------Блок 3 -------------------------------------*/


.company {
	width: 100%
	max-width:1920px;
	height: 600px;
	border:5px solid orange;
	font-size: 20px;
	text-align: center;
	display: flex;
	align-items: center;
}

/*--------------------------Блок 4 -------------------------------------*/

.order {
	width: 100%
	max-width:1920px;
	height: 800px;
	border:5px solid green;
	font-size: 40px;
	text-align: center;
	display: flex;
	align-items: center;
}

/*--------------------------Блок 5 -------------------------------------*/

.footer {
	width: 100%
	max-width:1920px;
	height: 300px;
	border:5px solid black;
	font-size: 20px;
	
	display: flex;
	align-items: center;

}