/* index.html
    1 Header 34
    2 Hero 168
    3 Greet 296
    4 Succsess 350 
    5 SiteTypes 382 
    6 Footer 444

 7 presentation-landing.html  540 
 8 presentation-card.html  610 
 9 development.html 660
 10 Modal 784
 11 Anomaton hero 856
 12 Adaptive 902 */

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

textarea {
	background-color: #E6E6E6;
}

input {
	background-color: #E6E6E6;
}
/* 1        =========================HEADER==================================*/

header {
	height: 150px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.header-container {
	width: 100%;
	margin: 0 auto;
}

.navigation {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80vh;
	background-color: rgba(0, 0, 0, .8);
	z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.menu-toggle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	cursor: pointer;
	z-index: 1500;
}

.logo {
	position: absolute;
	top: 32%;
	left: 5%;
	opacity: 0.8;
	transition:  .5s;
	background-color: #fff;
}

.logo img {
	max-width: 100px;
	max-height: 50px;
}

.logo:hover {
	transform: scale(1.5);
}


.cross {
	display: none;
}

.nav-list {
	list-style: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 75%;
	height: 80vh;
	background-color: #040406;
	display: flex;
	flex-direction: column;
	padding: 50px;
	justify-content: space-around;
	z-index: 1250;
	transform: translateX(-110%);
	transition: transform .5s;
	border-radius: 0 25px 25px 0;
}

.open .menu {
	display: none;
}

.open .cross {
	display: block;
}

.open .nav-list {
	transform: translateX(0);
}

.open .navigation::before {
    opacity: 0.5;
    transform: scale(1);
}

.nav-item {
	border-bottom:2px solid rgba(255,255,255,.3);
}

.nav-link {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 2px;
	margin-right: -2px;
	transition: color .5s;
	font-family: sans-serif;
}

.nav-link:hover {
    color: gold;
}


/* 2       ========================== Hero ================================*/

.hero {
	width: 100%;
	height: 100vh;
	background: url(img/compucter.jpg) center no-repeat;
	background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    right: 20%;
    top: 15%;
}

.sub-headline {
	text-align: center;
	font-size: 5.5rem;
	line-height: 1.2;
	letter-spacing: 2px;
	opacity: 0;
	animation: fadeUp .8s forwards;
	animation-delay: .5s;
}

.first-latter {
	text-transform: uppercase;
}

.headline {
	font-size: 2.5rem;
	text-align: center;

	animation: scale .8s forwards;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
	width: 100%;
	max-width: 150px;
	height: 4px;
	background-color: black;
	position: relative;
    opacity: 0;
	animation: grow 2s forwards;
	animation-delay: 1s;
}

.liene-left::before,
.liene-right::before {
   content: '';
   position: absolute;
   border: 10px solid transparent;
   top: 50%;
   transform: translateY(-50%);
}

.liene-left::before {
   border-left-color: black;
   left: 0;
}

.liene-right::before {
   border-right-color: black;
   right: 0;
}

.asteric {
    width: 10px;
    height: 10px;
    display: flex;
    margin: 10px;
}

.asteric img {
	width: 100%;
	height: 100%;
}

.headline-description h5 {
	color: black;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: -2px;
}

.cta-btn {
	text-decoration: none;
	background-color: black;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn focus {
    color:black;
    background-color: #808080;
} 

.single-animation {
	text-align: center;
    margin-bottom: 20px;
    opacity: 0;
	animation: fadeDown .8s forwards;
	animation-delay: 1s;
}

.single-animation h2 {
	margin-bottom: 15px;
}

/* 3         ==========================GREET==============================*/

.greet {
	width: 100%;
	
	display: flex;
	background-color: #E2E0E3;
}

.greet_inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 340px;
	/*height: 100%;
	max-height: 340px;*/
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	margin: 30px;
}

.content img {
	width: 100%;
	min-width: 250px;
	 border: 1px solid rgba(0,0,0,0.2);
}

.content img:hover {
	opacity: .5;
	cursor: pointer;
	border: 1px solid black;
}

.content p {
	font-size: 20px;
	font-family: 'Exo 2', sans-serif;
	font-style: italic;
	letter-spacing: 1px;
}

.content h2 {
    padding: 5px;
    letter-spacing: 1px;
}

/* 4     ==============================SUCCSESS======================================*/

.success {
	height: 60vh;
	background: url(img/SUCCSESS.jpg) center no-repeat;
	background-size: cover;
/*
	background-image: url(img/SUCCSESS.jpg);
	background-repeat: no-repeat;
	background-size:100%
*/	
}

.success-text {
	display: inline-block;
	text-align: center;
    margin-left: 50%;
    margin-top: 10%;
}

.success-text p {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-family: sans-serif;
    width: 100%;
    max-width: 600px;
	line-height: 150%;
}

/* 5       ============================SITETYPES========================================*/

.sitetypes {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.header-text {
	display: block;
    padding: 50px 0;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 5px;
    background: linear-gradient(#fff, #C0C0C0);
}




.sitetypes_inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	background-color: silver;
	/*align-items: center;*/
}

.example {
	margin-top: 2%;
	padding: 5px;
	width: 100%;
	max-width: 250px;
	height: 600px;
}

.example h2 {
	margin-bottom: 20px;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.example p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: sans-serif;
}

.example img {
	max-width: 192px;
	border: 1px solid black;
	box-shadow: 10px 5px 5px black;
	cursor: pointer;
}

.example img:hover {
	opacity: .7;
	
}

/* 6         ================================ FOOTER ===============================*/

footer {
	/*height: 70vh;*/
	background-color: #1D1D1D;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

footer h2 {
	margin-top: 20px;
	font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: green;
    color: gold;
    font-weight: 400;
}

.contact-us {
	font-size: 20px;
	max-width: 800px;
	font-family: sans-serif;
    letter-spacing: 3px;
}

.footer-form {
	width: 100%;
	max-width: 800px;
	padding: 10px;
}

.emailContent {
	width: 100%;
	height: 200px;
	text-align: left;
	display: block;
	text-overflow: ellipsis;
	font-size: 25px;
	padding: 20px;
}

.email {
	width: 49%;
	max-width: 400px;
	height: 30px;
	text-align: center;
	margin: 20px 0px 20px 0px;
	font-size: 15px;
}

.submit-btn {
	display:inline-block;
	width:100%;
	height:50px;
	margin-top:20px;
	font-size:17px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform:uppercase;
	color: black;
	background: green;
}

.submit-btn:hover {
	background: #FFB900;
	cursor: pointer;
}

.submit-btn:active {
	box-shadow: inset 2px 2px 10px -1px;
    transition: .1s;
}

.copyright {
	font-size: 10px;
	margin: 30px;
	font-family: sans-serif;
    letter-spacing: 3px;
}





/*       =============================================================================*/
/*  7   ================================PRESENTATION-LANDING===========================*/

.presentaion-text {
	font-size: 20px;
	font-family: sans-serif;
}

.page-presentation {
	margin-top: 150px;
	width: 100%;
	display: flex;
}

.presentaion-text {
	width: 60%;
}

.presentaion-text img {
	cursor: pointer;
	margin: 20px 10px 10px 10px;
	float: right;
	border: 2px solid black;
	max-width: 300px;
	box-shadow: 10px 5px 5px black;
}

.presentaion-text img:hover {
	opacity: 0.7;
}

.presentaion-text p {
    padding: 20px 30px 30px 30px;
}

.one {
	padding: 20px 30px 30px 30px;
}
.presentaion-text h2 {
	text-align: center;
}

.presentaion-text h1 {
	text-align: center;
}

.presentaion-text a {
    margin: 20px;
    float: right;
}

.presentaion-img {
	width: 40%;
	text-align: center;
}

.presentaion-img a {
	padding-top: 100px;
	max-width: 400px;
	text-align: center;
}

.presentaion-img img {
	cursor: pointer;
	width: 100%;
	max-width: 400px;
    border: 1px solid black;
	box-shadow: 10px 5px 5px black;
}

.presentaion-img img:hover {
	opacity: 0.7;
}


/*      =============================================================================*/
/* 8    ================================PRESENTATION-CARD===========================*/

.presentation-card {
   display: flex;
   flex-direction: column;
}

.presentaion-card-img {
	max-width: 50%;
	min-width: 300px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.presentaion-card-img img {
	width: 100%;
	border: 1px solid black;
	box-shadow: 10px 5px 5px black;
	cursor: pointer;
	margin-bottom: 20px;
}

.presentaion-card-img img:hover {
	opacity: 0.7;
}

.presentaion-card-text {
	font-size: 20px;
	font-family: sans-serif;
	margin: 120px 5% 50px 5%;
}

.presentaion-card-text h1 {
	padding: 10px;
	text-align: center;
}

.presentaion-card-text h2 {
	padding: 10px;
	text-align: center;
}

.presentaion-card-text p {
    padding: 10px 30px 10px 30px;
}

/*          ===================================================================*/
/* 9          ======================DVELOPMENT===========================*/


.development {
	
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;

}

.devlopHeader {
	margin-top: 150px;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.devlopHeader p {
	margin: 10px 5px 30px 5px;
}

.developContent {
	font-size: 20px;
	font-family: sans-serif;
	position: relative;

}

.developBtn {
	display: flex;

}


.preTitle {
	width: 50px;
    color: #ffff00;
    background: linear-gradient(to bottom left, #000, #5b5a5a);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	/*    transition: all 0.3s linear 0s;
    transform: rotate(90deg);*/
}

.preTitleInner::before {
  content: '';
  position: absolute;
  border-color: gold;
  border-style: solid;
  border-width: 0 0.10em 0.10em 0;
  width: .5em;
  height: .5em;
  top: -0.30em;
  left: -0.30em;
  transform: rotate(45deg);
} 

.developTitle {
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	padding: 10px 20px 10px 10px;
	background-color: silver;
	font-size: 25px;
	cursor: pointer;
	width: 100%;
}

.preTitleInner {
	position: relative;
	transition: all 0.3s linear 0s;
    transform: rotate(-90deg);
}


/*---- SCALE ----*/
.developText {
    height: 0;
	transform: scale(0);
	transition: all 0.3s linear 0s;
	padding: 10px;
}


.show .preTitleInner {
	transform: none;
}

.show .developText {
	transform: scale(1);
	height: auto;
}

.developTitle:hover {
	background: linear-gradient(to top left, #5b5a5a,#000 );
	color: gold;
	transition: color .7s ease;
}

/*---- ROTATE ----*/
/*.developText {
    transform: rotateX(90deg);
	transition: .1s linear;
	height: 0;
}


.show .preTitleInner {
	transform: none;
}

.show .developText {
	transform: rotateX(0deg);
	transition: .5s linear;
	height: auto;
}*/






/* 10   ==================================MODAL=============================*/
.modal {
	display: none;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);

}

.closeModal {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 50px;
	font-weight: bold;
	transition: .3s;
	cursor: pointer;
}

.closeModal:hover,
.closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.capture {

    display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
	font-size: 1.5rem;
}

.modalImg,
.captrue        {
	-webkit-animation-name:zoom;
	-webkit-animation-duration:.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}


.modalImg {
	width: 100%;
	max-width: 80%;
	min-width: 300px;
	max-width: 900px;
}

/*======modal animation======*/

@keyframes zoom {
	from{transform: scale(0);}
	to{transform: scale(1);}
}

/* 11  ================================ANIMATION HERO===============================*/

@keyframes fadeUp {
	0% {
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes scale {
	0% {
		transform: scale(2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes grow {
	0% {
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes fadeDown {
	0% {
		transform: translateY(-40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}



/* 12          =============== Adaptive ==============*/

@media (max-width:1200px) {
	footer {
		height: 100%;
	}
}

@media (max-width:992px) {


.sitetypes {
	height: 180vh;
    }

.sitetypes_inner {
	width: 100%;
	height: 100%;
	display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    }

.example {
  justify-self: center;
    }
/*-----presentation----*/

.presentaion-img {
	
	display: none;
    }

.presentaion-text {
	width: 100%;
    } 
/*---end presentation---*/
}

@media (max-width:768px) {
.logo {
    	display: none;
    }

.menu-toggle {
        top: 40px;
        right: 10px;
    }

.header-text {
	padding-right: 5px;
	padding-left: 5px;
}

.container {
	top: 30%;
    } 

.greet_inner {
	flex-direction: column;
    }

.success-text p{
	font-size: 1.4rem;
    }


.sitetypes {
	height: 100%;
    }

.sitetypes_inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: silver;
    }

.example {
	max-width: 100%;
	border: 2px solid black;
	height: 100%;
	padding: 10px;
    }

footer {
	height: 100%;
    }

}

@media (max-width: 599px) {
	.nav-link {
		font-size: 20px;
		color: gold;
	}

	.container {
		top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
	}

	.content {
		max-width: 360px;
	}

	.success-text p{
        font-size: 1rem;
        padding-right: 20px;
	}
    
    .greet {
        height: 100%;
    }
    
    .example {
    	padding: 20px; 
    }
    
    footer h2 {
		padding: 5px 10px 5px 10px;
	}

    .sub-headline {
        font-size: 4rem;
    }

    .contact-us {
		padding: 5px 3px 5px 3px;
	}

	.submit-btn {
	    margin-bottom: 40px;
    }
/*---presentation----*/
    .presentaion-text a {
        margin: 20px;
        float: none;
        display: block;
    }

    .presentaion-text p {
        text-align: center;
        padding: 20px 10px 30px 10px;
    }

    .presentaion-text  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentaion-card-img {
    	max-width: none;
    }
/*---end presentation---*/
}

@media (max-width: 320px) {
    
    .nav-list {
    	width: 70%;
    	padding: 50px 15px 50px 40px;
    }

    .nav-link {
		font-size: 18px;
	}

	.success-text p {
        font-size: 1rem;
        padding-right: 20px;
	}

	footer h2 {
		padding: 5px 10px 5px 10px;
	}

	.contact-us {
		padding: 0 5px 0 5px;
	}
/*---presentation----*/
    .presentaion-text p {
        padding: 0px 0 20px 0;
    }
/*---end presentation---*/
}

.intro {
	width:100%;
	height:200vh;
	border:1px solid black;
}

.header {
	width:100%;
	max-width:1600px;
	height:200px;
	border:1px solid black;
	margin:25px auto;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	transition:background 1s linear;
}

.red {
	
	width:100px;
	height:100px;
	background-color:red;
}

.green {
	width:100px;
	height:100px;
	background-color:green;
}

.black {
	width:100px;
	height:100px;
	background-color:black;

}

.yellow {
	width:100px;
	height:100px;
	background-color:yellow;
	align-self: center;
}

.blue {
	width:100px;
	height:100px;
	background-color:blue;
	transition:background 1s linear;
	
}

.blue:hover {
	background:linear-gradient(to top right, blue, #fff);
	
}


.gradient {
	width:20%;
	height:50%;
	background-color:#4b0082;
	/*background:linear-gradient(to top right, #4b0082, #fff);*/
	transition:transform 0.5s linear;
	
	border-radius: 10px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.gradient:hover {
	transform:translate3d(-15px,-20px, 0);
	background:linear-gradient(to top right, #4b0082, #fff);
	box-shadow: -10px 10px 10px black;
}

.shlapa {
	color:#fff;
	font-size:24px;
	opacity:0;
	display:block;
}

.gradient:hover .shlapa {
	opacity:1;
}


.midle__content {
	height:500px;
	width:100%;
	max-width:1600px;
	border:1px solid black;
	display:flex;
	margin:0 auto;
	justify-content:space-between;
}

.hh {
	color:blue;
}

.input__text,
.input__text2 {
	width:300px;
	height:100px;
	color:red;
	
	display:block;
}
