/*
--Sections--
44   mobile
335  intro
739  services
811  portfolio
975  questions
1080 contactUs
1254 footer
1505 @meida
1717 animation
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
    background: #DADADA;
}

::-webkit-scrollbar-track:hover {
    background: #B2B2B2;
}

::-webkit-scrollbar-thumb {
	background: #FFFF00;
}

::-webkit-scrollbar-thumb:hover {
	background: #C7C700;
}

.active {
    overflow:hidden;
}

/*=================== mobile menu ================*/


.active .openMobile {
    display: none;
}

.openMobile {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    cursor: pointer;
    z-index: 10000;
}

.openMobile:hover::before {
    height: 25px;
    top: 17%;
}

.openMobile::before {
    content: "";
    width: 30px;
    height: 20px;
    position: absolute;
    top: 22%;
    left: 22%;
    border-top: 3px solid #FFFF00;
    border-bottom: 3px solid #FFFF00; 
}

.openMobile::after {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    top: 45%;
    left: 22%;
    background-color: #FFFF00;
}

.closeMobile {
    display: none;
}

.active .closeMobile {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    cursor: pointer;
    z-index: 10000;
}

.closeMobile:hover::before,
.closeMobile:hover::after {
    background-color: #ffff;
}

.closeMobile::before {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    top: 45%;
    left: 22%;
    background-color: #FFFF00;
    transform: rotate(55deg);
}

.closeMobile::after {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    top: 45%;
    left: 22%;
    background-color: #FFFF00;
    transform: rotate(-55deg);
}

.mobileMenu {
    position: fixed;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    color: #ffff;
    background: rgba(0, 0, 0, 0.9);
    padding: 25px 0 25px 25px;
    z-index: 999;
    transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
    overflow-y: auto;
}

.active .mobileMenu  {
    top: 0;
    left: 0;
}

.mobileMenuWrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
}

.mobileMenuWrap ul {
    list-style: none;
}

.mobileMenuWrap li {
    margin: 0 0 15px 0;
}

.mobileMenuWrap li a {
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-family: 'OpenSansRegular', Verdana, Tahoma, Arial, sans-serif;
    width: 100%;
    display: block;
    border: 3px solid #1a1a1a;
    background-repeat: no-repeat;
    background-position: right center;
    transition: .3s;
}

.mobileMenuWrap li a:hover {
    border-color: #FFFF00;
}

.mobileMenuWrap li:nth-child(1) a {
    background-image: url(img/mobileImg/home.webp);
}
.mobileMenuWrap li:nth-child(2) a {
    background-image: url(img/mobileImg/services.webp);
}
.mobileMenuWrap li:nth-child(3) a {
    background-image: url(img/mobileImg/portfolio.webp);
}
.mobileMenuWrap li:nth-child(4) a {
    background-image: url(img/mobileImg/aboutUs.webp);
}
.mobileMenuWrap li:nth-child(6) a {
    background-image: url(img/mobileImg/contactUs.webp);
}

.separator {
    height: 10px;
    margin: 40px 0;
    position: relative;
}

.separator::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
    background: #ffffff;
}

.mobileContactsInfo {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'OpenSansRegular', Verdana, Tahoma, Arial, sans-serif;
}

.mobileContactsInfo span {
    color: #ffff00;
    margin-right: 5px;
}

.callBackTitle {
    font-size: 18px;
    font-family: 'OpenSansBold', Verdana, Tahoma, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 25px;
}

.callBackNum {
    position: relative;
    max-width: 300px;
}

.callBackNum input {
    width: 100%;
    z-index: 1;
    border: 1px solid #dfdfdf;
    font-size: 15px;
    padding: 5px 10px;
    transition: all .5s linear;
}

.callBackNum input:focus + label {
   top: -11px;
   width: 100%;
   text-align: center;
   background-color: #282923;
}
.callBackNum input:focus {
   outline: none;
}

.callBackNum label {
    position: absolute;
    top: -6px;
    right: 0;
    font-size: 12px;
    line-height: 9px;
    z-index: 2;
    padding: 2px;
    transition: all 0.5s ease 0s;
    font-family: sans-serif;
    background: #000;
    border-left: 1px solid #252525;
    border-right: 1px solid #252525;
}

.callBackNum textarea {
    height: 142px;
    width: 100%;
    overflow: auto;
    resize: vertical;
    border: 1px solid #dfdfdf;
    padding: 5px 10px;
    font-size: 15px;
}

.callBackNum textarea:focus + label {
   top: -11px;
   width: 100%;
   text-align: center;
}
.callBackNum textarea:focus {
   outline: none;
}

.callBackBtn {
    width: 270px;
    height: 35px;
    text-align: center;
    background: #ffff00;
    line-height: 35px;
    font-family: sans-serif;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
    color: #000;
}   

.callBackBtn::after {
    content: '';
    display: block;
    opacity: 1;
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 270px;
    height: 35px;
    background: #A6A600;
    z-index: -1;
}

.callBackBtn:hover::after{
    opacity: 0;
    transition: .3s;
}

.callBackBtn:not(:hover)::after {
    transition: .3s;
}

/*===================== intro =====================*/

.intro {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 850px;
}

.intro:after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
    display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

.media {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

/*----- header -----*/

.header {
    background: rgba(0, 0, 0, 0.5);
	height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.headerName a {
	color: #fff;
	font-size: 90px;
    text-decoration: none;
    display: flex;
} 

.headerName a span:hover {
	color: #FFFF00;
}

.headerInfo {
	width: 100%;
	max-width: 660px;
	margin-left: 50px;
}

.infoTop {
	display: flex;
	color: #fff;
	justify-content: space-between;
}

.infoTopInner,
.slogan {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: 18px;
	margin-right: 50px;
}

.slogan {
	text-transform: uppercase;
    min-width: 83px;               /*что бы не прыгал блок при js*/
}

.infoTopInner div:nth-child(1) {
	color: #FFFF00;
	font-size: 12px;
	font-family: 'Hind', sans-serif;
}

.infoTopInner div:nth-child(2) {
    font-size: 16px;
    padding-left: 45px;
}

.infoBot {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	padding-top: 5px;
	position: relative;
}

.infoBot::before {
	content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0.5px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.infoBot::after {
	content: "";
    width: 20%;
    height: 0.5px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, transparent 0%, #ffff00, transparent 100%);
    border-radius: 50%;
    animation: fadeRight 1.8s linear infinite;
}

.infoBot li{
	list-style: none;
    position: relative;
    margin-top: 5px;
}

.infoBot li a {
    color: #ffff;
    font-family: 'Hind', sans-serif;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.infoBot li a:hover {
	color: #FFFF00;
}

.infoBot li a:hover::before {
	content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top: 7px solid rgba(255, 255, 255, 0.5);
}

.activeMenu:after {
	content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top: 7px solid rgba(255, 255, 255, 0.9);
}

/*----- homeFirstScreen -----*/

.homeFirstScreen {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto;
}

.title {
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	color: #FFFF00;
	text-transform: uppercase;
    min-height: 260px;
    margin-top: 40px;
}

.title div {
	margin-top: 3px;
}

.title div:nth-child(1) {
    margin-left: 40%;
}
.title div:nth-child(2) {
    margin-left: 50%;
}
.title div:nth-child(3) {
    margin-left: 60%;
}
.title div:nth-child(4) {
    margin-left: 70%;
}

.title span {
  background-color: #000000;
}

/*----- price -----*/

.price {
    font-family: 'Oswald', sans-serif;
    display: flex;
    /*justify-content: space-between;*/
}

.siteType {
    width: 190px;
    height: 170px;
    text-decoration: none;
    margin: 3px;
    position: relative;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
}

.siteType::before {
    top: 0%;
    left: 0%;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ffff00;
    display: none;
}

.siteType:hover::before {
    animation: rotateZ .4s linear forwards;
    display: block;
}

.siteType:hover .siteTypeInner::before {
    transform: translateY(-170px);
}

.siteTypeInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    position: relative;
    overflow: hidden;
}

.siteTypeInner::before {
    content: "";
    width: 190px;
    height: 170px;
    background-color: black;
    position: absolute;
    bottom: -170px;
    left: 0;
    transition: all .3s;
    z-index: -1;
}

.siteTypeInner::after {
    top: 60%;
    left: 38%;
    content: '';
    position: absolute;
    width: 25%;
    border-top: 1px solid #898A8B;
}

.siteTypeInner div:nth-child(1) {
    width: 100%;
    text-align: center;
    color: #ffff00;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 25px;
    display: block;
}

.siteTypeInner div:nth-child(2) {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-align: right;
    padding-bottom: 5px;
}

.siteTypeInner div:nth-child(2) span {
    font-size: 18px;
    line-height: 24px;
    text-transform: initial;
    vertical-align: top;
}

/*----- submitOrder -----*/

.submitOrder {
    width: 270px;
    height: 45px;
    text-align: center;
    background: #ffff00;
    line-height: 45px;
    font-family: sans-serif;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    margin: 45px auto;
}   

.submitOrder::after {
    content: '';
    display: block;
    opacity: 1;
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 270px;
    height: 45px;
    background: #A6A600;
    z-index: -1;
}

.submitOrder:hover::after{
    opacity: 0;
    transition: .3s;
}

.submitOrder:not(:hover)::after {
    transition: .3s;
}

.mediaInfo {
    display: none;
    width: 100%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 15px;
    margin: 0 auto 55px;
    text-align: center;
    font-family: 'OpenSansBold', Verdana, Tahoma, Arial, sans-serif;
}

.mediaInfoInner:nth-child(1) {
    margin-bottom: 25px;
}

.mediaInfoInner div {
    color: #ffff00;
    margin-bottom: 10px;
    font-size: 14px;
}
.mediaInfoInner a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}


#btnArrowBot {
    width: 50px;
    height: 32px;
    background: url(img/btnArrow.webp) no-repeat top center;
    position: fixed;
    left: 50%;
    margin-left: -25px;
    bottom: 30px;
    z-index: 99;
    animation-name: btnArrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#btnArrowTop {
    z-index: 99;
    display: none;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background: #2a2a2a;
    opacity: .5;
}

#btnArrowTop::after {
    z-index: 99;
    position: absolute;
    top: 40%;
    left: 38%;
    transform: rotateZ(45deg);
    content: "";
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 10px;
    height: 10px;
}

#btnArrowTop:hover {
    opacity: 1;
}

/*======================= services ==========================*/

.servicesWrap {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 0;
    padding: 0 60px;

}

.servicesTitle {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
}

.servicesTitle::after {
    content: '';
    display: block;
    margin: 50px auto 50px;
    width: 50px;
    height: 1px;
    background: #000000;
}

.servicesInner {
    display: flex;
    justify-content: space-between;
}

.development {
   display: flex;
   margin-bottom: 35px;
   width: 100%;
}

.development img {
    width: 83px;
    height: 71px;
    margin-right: 35px;
}

.development span {
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.devInner ul {
    color: #000000;
    list-style-type: square;
    padding-left: 25px;
    margin: 15px 0;
}

.devList {
    padding: 0 0 5px 5px;
}

.devList a {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    font-family: 'Hind', sans-serif;
}

.devList a:hover {
    text-decoration: none;
}

/*======================= portfolio ==========================*/

.portfolioWrap {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: minmax(600px, auto);  
    grid-gap: .5em; 
}

.portfolioItem {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolioItem::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.5s ease 0s;
}

.portfolioItem:hover.portfolioItem::before {
    right: 0;
}

.portfolioItem:hover .ItemInfo {
    left: 0;
}

.ItemBgVid,
.ItemBgImg {
    width: 100%;
    height: 100%;
}

.ItemInfo {
    position: absolute;
    top: 50%;
    margin-top: -125px;
    left: -100%;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    font-family: 'OpenSansLight', Verdana, Tahoma, Arial, sans-serif;
    transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

.description {
    max-width: 80%;
    margin: 0 auto 35px auto;
}

.ItemLink {
    display: inline-block;
    text-decoration: none;
    box-shadow: inset 0 0 0 2px #4c4c4c;
    color: #fff;
    font-weight: 700;
    padding: 15px 55px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    transition: color 0.25s;
}

.ItemLink::before,
.ItemLink::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.ItemLink::before {
    top: 0;
    left: 0;
}

.ItemLink::after {
    bottom: 0;
    right: 0;
}

.ItemLink:hover::before,
.ItemLink:hover::after {
    width: 100%;
    height: 100%;
}

.ItemLink:hover::before {
    border-top-color: gold; 
    border-right-color: gold;
    transition:
     width 0.25s ease-out, 
     height 0.25s ease-out 0.25s; 
}

.ItemLink:hover::after {
    border-bottom-color: gold; 
    border-left-color: gold;
    transition:
     border-color 0s ease-out 0.5s, 
     width 0.25s ease-out 0.5s,
     height 0.25s ease-out 0.75s; 
}

.ItemBgVid video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
}

/*--- img class url ---*/

.ItemBgImg {
    background-size: cover;
}

.ItemBgImg.andoid {
    background-image: url(img/android.jpg);
}

.ItemBgImg.unsplash {
    background-image: url(img/unsplash.jpg);
}

.ItemBgImg.air {
    background-image: url(img/air.jpg);
}

.ItemBgImg.visitCard {
    background-image: url(img/1.jpg);
}

.ItemBgImg.polygraphy {
    background-image: url(img/polygraphy.jpg);
}

.ItemBgImg.nike {
    background-image: url(img/nike.jpg);
}


/*======================= questions ==========================*/

.questionsWrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 100px auto;
}

.spaceTitle {
    margin: 100px auto;
    text-align: center;
    color: #5b5a5a;
    line-height: 60px;
    vertical-align: middle;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    text-transform: uppercase;
    position: relative;
}

.questionsInner {
    display: flex;
}

.col {
    width: 48%;
    margin: 0 1%;
}

.questionsContent {
    font-size: 20px;
    font-family: sans-serif;
    
}

.questionsBtn {
    display: flex;
    background-color: black;
}

.preTitle {
    width: 50px;
    color: #ffff00;
    background: linear-gradient(to bottom left, #000, #5b5a5a);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preTitleInner {
    position: relative;
    transition: all .3s linear 0s;
    transform: rotate(-90deg);
}

.preTitleInner::before {
    content: '';
    position: absolute;
    border-color: gold;
    border-style: solid;
    border-width: 0 0.10em 0.10em 0;
    width: .5em;
    height: .5em;
    top: -0.30em;
    left: -0.30em;
    transform: rotate(45deg);
} 

.questionsTitle {
    padding: 10px 20px 10px 10px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    width: 100%;
}

.questionsText {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    font-size: 14px;
    margin: 12px 12px 12px 50px; 
}

.questionsText p {
    margin-bottom: 15px;
}

.questionsTitle:hover {
    background: linear-gradient(to top left, #5b5a5a, #000);
    color: gold;
    transition: color .7s ease;
}

/*---- TOGGLE .show ----*/

.show .preTitleInner {
    transform: none;
}

/*=========================== contactUs ===========================*/

.contactWrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.contactTitle {
    font-size: 48px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}

.contactDescription {
    text-align: center;
    font-family: 'Hind', sans-serif;
}

.contactDescription::after {
    content: '';
    display: block;
    margin: 50px auto 50px;
    width: 50px;
    height: 1px;
    background: #000000;
}

.contactForm {
    width: 100%;
    max-width: 630px;
    margin: 0 auto 100px;
}

.innerTop {
    display: flex;
    justify-content: space-between;
}

.formInput {
    position: relative;
    margin-bottom: 15px;
}

.innerTopLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formInput input {
    z-index: 1;
    border: 1px solid #dfdfdf;
    font-size: 15px;
    padding: 5px 10px;
    transition: all .5s linear;
}

.formInput input:focus + label {
   top: -11px;
   width: 100%;
   text-align: center;
}
.formInput input:focus {
   outline: none;
}

.formInput label {
    position: absolute;
    top: -6px;
    right: 0;
    font-size: 12px;
    line-height: 9px;
    z-index: 2;
    padding: 2px;
    background: #dfdfdf;
    transition: all 0.5s ease 0s;
    font-family: sans-serif;
}

.formInput textarea {
    height: 142px;
    width: 100%;
    overflow: auto;
    resize: vertical;
    border: 1px solid #dfdfdf;
    padding: 5px 10px;
    font-size: 15px;
}

.formInput textarea:focus + label {
   top: -11px;
   width: 100%;
   text-align: center;
}
.formInput textarea:focus {
   outline: none;
}

.sendBtn {
    width: 250px;
    text-align: center;
    background: url(img/sendBg.webp);
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    margin: 25px auto 0;
    cursor: pointer;
}

.sendBtn:hover {
    opacity: .8;
}

.arrow {
    margin-top: 15px;
    margin-left: 75px;
    background: url(img/arrow.webp) no-repeat top right;
    height: 49px;
    font-family: 'OpenSansItalic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    width: 160px;
}

.scrollInfo {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
    color: #636363;
    font-size: 13px;
    line-height: 18px;
    font-family: 'OpenSansRegular', Verdana, Tahoma, Arial, sans-serif;
}

.scrollInfo h1 {
    font-size: 24px;
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
}

.scrollInfo h2 {
    margin: 10px 0;
    font-size: 16px;
}

.scrollInfo p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
}

.scrollInfo::-webkit-scrollbar {
    width: 8px;
}

.scrollInfo::-webkit-scrollbar-track {
    background: #e8e8e8;
}

.scrollInfo::-webkit-scrollbar-track:hover {
    background: #B2B2B2;
}

.scrollInfo::-webkit-scrollbar-thumb {
    background: #808080;
}

.scrollInfo::-webkit-scrollbar-thumb:hover {
      background: #191919;
}

/*================ footer ================*/

footer {
    margin-top: 100px;
}

.parallax {
    background-color: #191919;
}

.parallaxInner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 30px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.innerLeft {
    max-width: 550px;
    font-size: 21px;
    font-weight: 300;
    font-family:  'OpenSansRegular', Verdana, Tahoma, Arial, sans-serif;
    line-height: 36px;
    color: #fff;
    z-index: 2;
}

.innerRight {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    font-family:  'OpenSansRegular', Verdana, Tahoma, Arial, sans-serif;
}

.innerRight::after {
    content: '';
    border-bottom: 2px solid;
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    transition: .4s;
    transform: scaleX(0);
    color: #ffff00;
}

.innerRight:hover {
    color: #ffff00;
}

.innerRight:hover::after {
    transform: scaleX(1);
}

.fas.fa-download {
    margin-right: 15px;
}
   
.fas.fa-download::before {
    content: "\f019";
}

.parallaxContent {
    animation: parallaxRotate 4s ease-in-out infinite;
    position: absolute;
    transform: scale(1.5) rotate(10deg);
    left: 44%;
    top: -200px;
    z-index: 1;
}

.parallaxContent svg polygon {
    stroke: #222222;
    fill: none;
    stroke-width: 10;
    color: #fff;
}

/*--- footerContent ---*/

.footerContent {
    background-color: #3C3C3C;
}

.footerContentWrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    font-family: 'Oswald', sans-serif;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #fff;
}

.footerContentLeft {
    display: flex;
    flex-direction: column;
    position: relative;
}

.devTime {
    font-size: 24px;
    font-family: 'RexBold', Verdana, Tahoma, Arial, sans-serif;
    text-align: right;
    position: absolute;
    top: 110px;
    right: 7px;
}

.sendFooterBtn {
    width: 250px;
    text-align: center;
    background: url(img/sendBg.webp);
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #000;
    margin: 115px 0 100px;
    cursor: pointer;
}

.sendFooterBtn:hover {
    opacity: .8;
}    

.footerContentMid h2{
    text-align: end;
    font-size: 16px;
    font-family: 'OpenSansBold', Verdana, Tahoma, Arial, sans-serif;
    line-height: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.ContentMidInfo {
    font-family: 'Hind', sans-serif;
    width: 100%;
    max-width: 400px;
    margin-bottom: 25px;
}

.ContentMidInfo td {
    padding: 5px;
}

.contactKey {
    text-align: right;
    color: #FBFB01;
}

.contactValue {
    text-align: left;
}

.footerContentMid a {
    margin-left: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Hind', sans-serif;
}

.footerContentMid a:hover {
    color: #fff;
    text-decoration: none;
}

.footerContentRight {
    color: #fff;
    margin-left: 25%;
}

.footerContentRight h2 {
    text-align: center;
    font-size: 16px;
    font-family: 'OpenSansBold', Verdana, Tahoma, Arial, sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footerContentRight li {
    color: #FBFB01;
    margin-bottom: 5px;
}

.footerContentRight li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
}

.footerContentRight li a:hover {
    color: #FBFB01;
}

/*--- copyright ---*/

.copyright {
    background-color: #3C3C3C;
    color: #9c9c9c;
    border-top: 1px solid #353535;
    padding: 15px 0 8px;
}

.copyrightWrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.copyrightWrap ul {
    list-style: none;
}

.copyrightWrap ul li {
    float: left;
}

.copyrightWrap ul li:nth-child(1) {
   list-style-image: url(img/justDoFooter.png);

}

.copyrightWrap ul li:nth-child(1)::after {
    content: '>';
    display: inline-block;
    margin: 0 5px;
}

.copyrightWrap ul li a {
    text-decoration: none;
    color: #9c9c9c;
 }

.copyrightWrap ul li a:hover {
    color: #fff;
}

/*------------------- media queries ----------------*/

@media (max-width: 1000px) {
    .openMobile {
        display: block;
    }

    /*-- section intro --*/
    
    .intro {
        height: auto;
        z-index: 800;
    }

    .intro:after {
        display: none;
    }

    .header {
        background-color: #212121;
    }

    .homeFirstScreen {
        height: 675px;
        background-image: url(img/mobileImg/mobileBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    .media {
        display: none;
    }

    .headerInfo {
        display: none;
    }

    .price {
        display: none;
    }
    
    .title {
        height: auto;
        margin-top: 20px;
    }

    .title div:nth-child(1) {
        margin-left: 5%;
    }
    .title div:nth-child(2) {
        margin-left: 25%;
    }
    .title div:nth-child(3) {
        margin-left: 8%;
    }
    .title div:nth-child(4) {
        margin-left: 25%;
    }

    .mediaInfo {
        display: block;
    }

    #btnArrowBot {
        bottom: -100px; /* hide arrow*/
    }

    /*--- section portfolio ---*/
    .portfolioWrap {
        grid-template-columns: repeat(1, 1fr);
    }

    /*--- section footer ---*/
    .copyrightWrap {
        padding-left: 50px;
        padding-right: 50px
    }

}


@media (max-width: 900px) {
    .footerContentWrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sendFooterBtn {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footerContentMid h2 {
        text-align: center;
    }

    .ContentMidInfo {
        margin-right: 50px;
    }

    .footerContentMid a {
        margin-left: 100px;
    }

    .footerContentRight {
        margin-left: 0;
        margin-top: 50px;
    }

}


@media (max-width: 800px) {

    /*--- section questions ---*/
    .questionsInner {
        flex-direction: column;
    }

    .col {
        width: initial;
    }

    .innerRightInfo {
        font-size: 18px;
    }

    .innerLeft {
        font-size: 15px;
    }

}

@media (max-width: 540px) {
    .ItemInfo {
        left: 0;
        margin-top: -145px;
    }

    .infoLogo picture img {
        width: 80%;
    }

    .description {
        margin: 0 auto 10px auto;
    }

    .contactFormInner {
        margin-left: 25px;
        margin-right: 25px;
    }

    .innerTop {
        flex-direction: column;
        align-items: center;
    }

    .innerTopLeft,
    .innerTopRight {
       width: 100%;
    }

    .formInput input {
        width: 100%;
    }

    .servicesInner {
        flex-direction: column;
    }

    .parallaxInner {
        flex-direction: column;
        justify-content: center;
    }

    .innerLeft {
        text-align: center;
    }
    
    .contactWrap {
        overflow: hidden;
    }

}

@media (max-width: 420px) {
    .title div:nth-child(1),
    .title div:nth-child(2),
    .title div:nth-child(3),
    .title div:nth-child(4) {
        margin-left: 5%;
    }

    .scrollInfo {
        padding-left: 10px;
    }
}

@media (max-width: 320px) {
    .submitOrder {
        margin: 15px auto;
    }

    .homeFirstScreen {
        height: 600px;
    } 
}


/*-------------------- ANIMATION --------------------*/
@keyframes fadeRight {
	0% {
		transform: translateX(0%);
		opacity: 0;
	}
    5% {
    	opacity: 1;
    }
    
    90% {
    	opacity: 1;
    }
    100% {
    	opacity: 0;
		transform: translateX(400%);
	}
}

@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(270deg);
    }
}

@keyframes parallaxRotate {
    0% {
        transform: scale(1.5) rotate(10deg);
    }

    50% {
        transform: scale(1.5) rotate(40deg);
    }

    100% {
        transform: scale(1.5) rotate(10deg);
    }
}

@keyframes btnArrow {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}




/*25.00ч*/
/*adaptive 1ч*/