* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-content {}
.wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*=============== paralax ==================*/

.paralax {
	position: relative;
	height: 100%;
}

.mount {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mount_1 {
	background: url(img/bg.png) center/ cover no-repeat;
	
}
.active .mount_1 {
	animation: MoveForward 40s forwards;
}


.mount_2	{
	background: url(img/mount-right.png) bottom right / 45% no-repeat;
	z-index: 1;
}
.active .mount_2 {
	animation: MoveRight 30s forwards;
}

.mount_3 {
	background: url(img/mount-left.png) bottom left / 100% no-repeat;
	z-index: 1;
}
.active .mount_3 {
	animation: MoveLeft 30s forwards;
}

.fog {
	background: url(img/fog.png) bottom / 100% no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: .8;
}

.active .fog {
	animation: zoom 10s infinite;
	animation-direction: alternate;
}


/*============= start ==============*/

.start {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	min-width: 300px;
	height: 30%;
	max-height: 300px;
	position: absolute;
	top: 55%; left: 0; bottom: 0; right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.1);
   box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
   border-radius: 25px;
   cursor: pointer;
   transition: all .2s linear;

   animation: Up 5s forwards;
   animation-delay: 1s;
}

.start h2 {
	font-style: italic;
	font-size: 30px;
	text-align: center;
}

.start:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.active .start {
	animation: hide 3s forwards;
}



/*===== slogan =====*/

.slogan-one h2 {
 	font-style: italic;
	font-size: 30px;
}

.active .slogan-one {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	width: 30%;
	min-width: 300px;
	height: 30%;
	max-height: 300px;
	position: absolute;
	top: 150%; left: 0; bottom: 0; right: 0;
	margin: auto;
	cursor: pointer;
   transition: all .2s linear;

   animation: sloganOne 5s forwards;
   animation-delay: 3s;
}


.slogan-two h2 {	
	font-style: italic;
	font-size: 30px;
}

.active .slogan-two {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	width: 30%;
	min-width: 300px;
	height: 30%;
	max-height: 300px;
	position: absolute;
	top: 150%; left: 0; bottom: 0; right: 0;
	margin: auto;
	cursor: pointer;
   transition: all .2s linear;

   animation: sloganOne 5s forwards;
   animation-delay: 8s;
}



/*========= content ========*/

.content {
	width: 100%;
	position: absolute;
	top: 150%;
	left: 0;
	opacity: 0;
	z-index: 1000;
}

.active .content {
	animation: content 3s forwards;
	animation-delay: 13s;
}

.content-wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0px 20px;
	font-size: 50px;
}

.sub-title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0px 20px;
	font-size: 50px;
}

.content-article {
	background-color: rgba(255,255,255, .5);
	font-size: 20px;
	line-height: 25px;
	padding: 20px 20px;
}

@keyframes zoom {
	0% {
		transform: scale(1.5);

	}
	100% {
		transform: scale(3);
	}
}

@keyframes MoveLeft {
	0% {
		transform: translate3d(0,0,0) scale(1);

	}
	100% {
		transform: translate3d(-500px, 0,0) scale(3);
	}
}

@keyframes MoveRight {
	0% {
		transform: translate3d(0,0,0) scale(1);

	}
	100% {
		transform: translate3d(500px, 0,0) scale(2);
	}
}

@keyframes MoveForward {
	0% {
		transform: scale(1);

	}
	100% {
		transform: scale(1.3);
	}
}

@keyframes Up {
	0% {
		top:55%;
	}
	50% {
		top: -5%;
	}
	100% {
		top: -5%;
		z-index: 3;
	}
} 

@keyframes hide {
	0% {
		opacity: 1;
		transform: scale(1);
		top: -5%;
	} 100% {
		opacity: 0;
		transform: scale(1.1);
		top: -15%;
		display: none;
	}
}

@keyframes sloganOne {
	0% {
		opacity: 0;
		top:-5%;
	}

	50% {
		
		opacity: 1;
	}
	100% {
		top:-5%;
		display: none;
		opacity: 0;
	}
}

@keyframes content {
	0% {
		opacity: 0;
		top: 150%;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		top:15%;
	}
}

/*====================== media =====================*/

@media(max-width: 650px) {
	@keyframes content {
	0% {
		opacity: 0;
		top: 150%;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		top: 1%;
	}
}


	.content-article {
		overflow-y: scroll;
		max-height: 600px;
	}

}

@media(max-width: 415px) {
	.content-article {
		max-height: 405px;
	}
}

@media(max-width: 376px) {
	.content-article {
		max-height: 350px;
	}
}

@media(max-width: 326px) {
	.content-article {
		max-height: 250px;
	}
}


/*верстка 1ч*/
/*анимация 3ч*/