@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
fonts

PT Sans Regular           - font-family: 'PT Sans', sans-serif;
Post No Bills Jaffna Bold - font-family: 'Post No Bills Jaffna';
Playfair Display Regular  - font-family: 'PT Sans', sans-serif;
Playfair Display Bold 
*/
@font-face {
  font-family: "Post No Bills Jaffna";
  src: url(fonts/PostNoBillsJaffna-Bold.ttf);
  /* Путь к файлу со шрифтом */
}
/* ================== section Header ============== */
.header {
  position: relative;
}

.menu-toggle {
  display: none;
  position: fixed;
  z-index: 100;
}
.menu-toggle img {
  background-color: #fff;
  border-radius: 5px;
}

.wrap {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  height: 44px;
  background-color: #000000;
  color: #969696;
  font-family: "PT Sans", sans-serif;
  display: flex;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
}
.header-top-left div {
  padding: 0 13px 0 13px;
}
.header-top-left div:nth-child(2) {
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}
.header-top-left div img {
  margin-right: 13px;
}

.header-top-right div {
  display: flex;
  align-items: center;
}
.header-top-right a {
  text-decoration: none;
  color: #969696;
  padding: 0 15px 0 15px;
}
.header-top-right a:hover {
  color: gold;
}

.header-bot {
  height: 80px;
  width: 100%;
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bot-left {
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Post No Bills Jaffna";
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

.header-bot-right {
  align-items: center;
  display: flex;
  height: 100%;
}
.header-bot-right ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-bot-right ul li {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-bot-right ul li a {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 30px 15px 30px 15px;
  transition: all 0.1s linear;
}
.header-bot-right ul li a:hover {
  background-color: #1F1F1F;
  color: gold;
}

/* ================== section main-content ============== */
.backgrond {
  background-image: url(img/Rectangle3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  width: 320px;
  height: 320px;
  border: 4px solid #fff;
  text-align: center;
  opacity: 0;
  animation: visibility 3s forwards;
  animation-delay: 1s;
}
.logo h1 {
  font-family: "Post No Bills Jaffna";
  color: #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 60px;
  margin-top: 30%;
}
.logo h2 {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28, 47px;
  padding: 8px;
}

.content-text {
  transform: translateX(-300px);
  animation: fromLeft 1.5s forwards;
  margin-top: 5%;
}
.content-text h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  max-width: 730px;
}

/* =========== section category ========== */
.collection {
  background-color: #000000;
}

.collection-wrap {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.category {
  width: 100%;
  max-width: 1040px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category hr {
  width: 120px;
  margin-top: 50px;
}

.category-title {
  color: #fff;
  margin-top: 80px;
}
.category-title h2 {
  font-size: 36px;
}

.category-list {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  list-style: none;
  margin-bottom: 90px;
}
.category-list li {
  justify-self: center;
}
.category-list a {
  text-decoration: none;
  color: #fff;
}
.category-list a:nth-child(1) {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
}
.category-list a:nth-child(1):hover {
  background-color: #35393B;
}
.category-list a h2 {
  margin-top: 25px;
}
.category-list a h2:hover {
  color: gold;
}
.category-list p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.catalog {
  width: 100%;
  max-width: 880px;
  height: 730px;
  background-image: url(img/Rectangle8.jpg);
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.catalog hr {
  width: 120px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.catalog-title h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.catalog-button {
  margin-bottom: 100px;
}
.catalog-button a {
  padding: 10px 25px 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  font-family: "PT Sans", sans-serif;
  transition: all 0.5s linear;
}
.catalog-button a:hover {
  background-color: #1F1F1F;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/* =============== section old-Collection ============== */
.old-collection {
  background-color: #000000;
}

.old-collection-wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.old-collection-left {
  width: 100%;
  max-width: 880px;
  height: 600px;
  background-image: url(img/Rectangle9.jpg);
  background-position: center;
  background-size: cover;
  float: left;
}

.old-collection-right {
  height: 600px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-right-content {
  color: #fff;
  max-width: 470px;
}
.collection-right-content h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}
.collection-right-content hr {
  width: 120px;
  margin: 0 auto 40px;
}
.collection-right-content p {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 60px;
  text-align: center;
}

.old-catalog-button {
  display: flex;
  justify-content: center;
}
.old-catalog-button a {
  padding: 10px 25px 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  font-family: "PT Sans", sans-serif;
  transition: all 0.5s linear;
}
.old-catalog-button a:hover {
  background-color: #1F1F1F;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.new-collection {
  background-color: #000000;
}

.new-collection-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-collection-wrap hr {
  margin-top: 50px;
  width: 120px;
}

.new-collection-title {
  padding-top: 100px;
}
.new-collection-title h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

.new-collection-content {
  width: 100%;
  max-width: 1110px;
  margin-bottom: 50px;
}

.new-category-list {
  width: 100%;
  margin-top: 50px;
  list-style: none;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 30px;
}
.new-category-list li {
  justify-self: center;
}
.new-category-list a {
  text-decoration: none;
  color: #fff;
}
.new-category-list a:nth-child(1) {
  width: 260px;
  height: 325px;
  background-color: #191B1C;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
}
.new-category-list a:nth-child(1):hover {
  background-color: #35393B;
}
.new-category-list a h2 {
  margin-top: 25px;
}
.new-category-list a h2:hover {
  color: gold;
}
.new-category-list p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

/* ============== section brands =========== */
.brands {
  background-color: #0F0F0F;
}

.brands-wrap {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.brands-wrap hr {
  margin: 45px auto 45px;
  width: 120px;
}

.brands-title {
  padding-top: 70px;
}
.brands-title h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-column-gap: 5px;
  padding-bottom: 50px;
}
.brands-list li {
  justify-self: center;
}

/* ============= footer ============= */
footer {
  background-image: url(img/footerBG.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-wrap {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about {
  color: #fff;
  max-width: 350px;
}
.about h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 45px;
}
.about p {
  font-family: "sans-serif";
  font-size: 18px;
  padding-bottom: 140px;
}

.footer-category {
  max-width: 350px;
}
.footer-category h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 45px;
  color: #fff;
}
.footer-category .footer-category-list li {
  display: inline-block;
  list-style: none;
  margin-bottom: 20px;
}
.footer-category .footer-category-list li a {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  margin-right: 20px;
  padding: 15px;
  background-color: #0F0F0F;
  display: inline-block;
  transition: all 0.1s linear;
}
.footer-category .footer-category-list li a:hover {
  background-color: #1F1F1F;
  color: gold;
}

.mail {
  color: #fff;
  max-width: 350px;
}
.mail h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 45px;
}
.mail p {
  font-family: "sans-serif";
  font-size: 18px;
}

.mail-form {
  margin-top: 50px;
}
.mail-form input[type=email]::placeholder {
  color: #B6B6B6;
}

.email-input {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  letter-spacing: 1px;
}

.email-btn {
  padding: 10px;
  text-transform: uppercase;
  background-color: #0F0F0F;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.email-btn:hover {
  background-color: #1F1F1F;
  color: gold;
}

.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: rgba(15, 15, 15, 0.8);
}

.copyright-wrap {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}
.copyright-wrap a {
  color: #fff;
}

@media (max-width: 1200px) {
  .old-collection-left {
    display: none;
  }

  .collection-wrap {
    flex-direction: column;
    align-items: center;
  }

  .catalog {
    margin-bottom: 100px;
    max-width: none;
  }

  .footer-wrap {
    padding: 0 10px 0 10px;
  }

  .copyright-wrap {
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 801px) {
  .collection-right-content p {
    padding: 0 10px 0 10px;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
  }

  .about h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .about p {
    padding: 0;
    letter-spacing: 1px;
  }

  .footer-category h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .mail h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .mail p {
    padding: 0;
    letter-spacing: 1px;
  }

  .mail-form {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .content-text h2 {
    padding: 0 10px 0 10px;
  }

  .header-top {
    height: 50px;
  }

  .header-top-left {
    display: none;
  }

  .header-top-right a {
    font-size: 20px;
    padding: 0 0 0 15px;
  }

  .header-bot {
    height: auto;
  }

  .wrap {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  /* -- close menu --- */
  .header {
    position: fixed;
    transform: translateY(-100%);
    width: 100%;
    transition: transform 0.5s;
  }

  .menu-toggle {
    display: block;
    top: 1%;
    right: 3%;
  }

  .cross {
    display: none;
  }

  .catalog-button a {
    background-color: #1F1F1F;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }

  .old-catalog-button a {
    background-color: #1F1F1F;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }

  /* ---- open menu ----- */
  .header.open {
    position: fixed;
    width: 100%;
    transform: translateY(0);
    z-index: 100;
  }

  .menu-toggle.open {
    display: block;
    z-index: 101;
  }
  .menu-toggle.open img:nth-child(2) {
    border-radius: 5px;
  }

  .open .menu {
    display: none;
  }

  .open .cross {
    display: block;
  }

  .header-bot-left {
    padding: 0;
  }

  .header-bot-right {
    width: 100%;
  }
  .header-bot-right ul {
    flex-direction: column;
    width: 100%;
  }
  .header-bot-right ul li {
    width: 100%;
  }
  .header-bot-right ul li a {
    width: 100%;
    text-align: center;
  }

  .copyright-wrap p {
    font-size: 14px;
  }
}
/* ------ ANIMATION ------- */
@keyframes visibility {
  100% {
    opacity: 1;
  }
}
@keyframes fromLeft {
  100% {
    transform: translateX(0);
  }
}
/* верстка 7ч */
/* + */
/* адаптив 1ч */